.MobileLink .MobileLink:active,.MobileLink:link,.MobileLink:hover,.MobileLink:visited{
    color: black;
}

.FinderBox{
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    width: 99%;
    align-items: center;
}

.FinderBox >h1{
    margin: 0px;
}

.FinderBox > table{
    margin: 0px;
    border-spacing: 0px;
    padding: 0;
}

.FinderBox  > table > tr > td{
   padding: 0;
}
  
.FinderBox button{
    width: 50px;
    height: 42px;
    background-color: #333;
    border-color: #333;  
    border-top-width: 1px;   
    border-left-width: 0px;
    border-right-width: 1px;   
    border-bottom-width: 1px;   
  
    border-style: solid;
    padding-bottom: 10px;
}

.HeaderLink:link,.HeaderLink:visited,.HeaderLink:active,.HeaderLink:hover{
  color: black;
  text-decoration: none;
}

.HomeMasterPanel {
  width: 1200px;
  align-items: center;
  display: flex;
  flex-direction: column;
  margin-bottom: 11vh;
}

.Wrapper {
  align-items: center;
  height: 80vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  overflow:overlay;
  background-color: #f7f7f7;
}